$primary1: #00DDB5;
$primary1_darken: #00c39a;
$primary2: #ff3d3d;
$primary3: #FF9800;
$primary3_darken: #e98b00;
$secondary1: #e7f7fb;
$secondary2: #fff9ee;
$secondary3: #cfffd7;
$secondary4: #fff3dd;

$font_regular: 'Palanquin', sans-serif;
$font_bold: 'Palanquin Dark', sans-serif;

@import "answer-field";
@import "home";
@import "question-list";
@import "question";
@import "response";
@import "results";
@import "sidenav";
@import "survey";
@import "thankyou";
@import "topnav";

// General

html {
  font-size: 62.5%;
}
body {
  font-size: 1.4rem;  /* =14px */
  font-family: $font_regular !important;
}
h1, h2, h3 {
  font-size: 2.4rem; /* =24px */
  font-family: $font_bold !important;
}

.btn-primary {
  background: $primary3 !important;
  border-color: $primary3_darken !important;
  margin-right: 5px !important;
  &:hover {
    background: $primary3_darken !important;
  }
}
