// Home
.welcome {
  text-align: center;
  background: $secondary3;
  padding: 60px 0;
  margin-bottom: 30px;
}

// .welcome-arrow {
//   margin: 20px 0 !important;
// }

.welcome-image img {
  padding: 20px 0 25px;
}

.detail-right {
  padding: 40px 0;
}

.detail-middle {
  padding-top: 65px !important;
}


.detail-left {
  text-align: center;
}

.detail-icon {
  font-size: 50px !important;
  padding: 75px !important;
  color: $primary3 !important;
}

.fa-mobile {
  font-size: 68px !important;
}

.detail-title {
  color: $primary2;
}

@media (max-width: 767px) {
  .welcome {
    margin-bottom: 60px;
  }
  .detail-icon {
    padding: 0px !important;
  }
}
