// Question-List Component

.final-submit {
  text-align: center;
  height: 70vh;
  margin-top: 30vh;
}

.answer-status-none {
  display: none;
}

.answer-status {
  color: $primary2;
}

.answer-status-icon {
  color: $primary2 !important;
}
