// Results

.results-title {
  text-align: center;
  padding: 30px 0;
}

.user-response {
  background: lightblue;
}

.result-name {
  color: $primary2;
  letter-spacing: 2px;
  background: #fce7c7;
  border-radius: 3px;
  padding: 5px 10px;
}

.results-image img {
  max-width: 150px;
}

.results-image {
  text-align: center;
}

.result {
  background: $secondary2;
}

.results-text {
  text-align: center;
  padding-bottom: 10px;
}
