// Results

.results-title {
  text-align: center;
  padding: 30px 0 0px;
}

.user-response {
}

.result-name {
  letter-spacing: 2px;
  border-radius: 3px;
  padding: 5px 10px;
  background: $secondary3;
}

.results-image img {
  max-width: 150px;
}

.results-image {
  text-align: center;
}

.result {
  background: $secondary2;
}

.results-text {
  text-align: center;
  padding-bottom: 10px;
}

.result-none {
  text-align: center;
  background: #fff9ee;
  width: 70%;
  margin: auto;
  padding: 10px 10px 40px;
  border-radius: 10px;
}

.results-none-title {
  margin-bottom: 20px !important;
}


.results-icon {
  color: $primary3;
}
