// SideNav

.sidenav-component {
  background: $primary2;
  height: 80vh;
  margin-top: 5vh;
  position: fixed;
  width: 24px;
  border-radius: 15px;
  p {
    margin: 11vh 0;
    text-align: center;
  }
}

.navItem {
  p {
    color: black;
    &:hover {
      cursor: pointer;
      color: white;
    }
  }
}

.navItem.isActive {
  background: $primary3;
}

.sidenav-submit.isActive {
  background: $primary3;
}

.sidenav-submit:hover {
  cursor: pointer;
  color: white !important;
}
