// Survey

#user-form {
  input {
    margin-bottom: 15px !important;
  }
}

.signup {
  border-radius: 6px;
  margin-top: 10vh;
  background: $secondary4;
  padding: 10px 20px 20px;
}

.text-help {
  color: $primary2 !important;
  margin-bottom: 10px;
}

.signup-image {
  text-align: center;
  img {
    margin-top: 50px;
    padding-right: 30px;
  }
}
