label {
  padding-left: 10px; }

.answer-field-component {
  margin-bottom: 10px; }

.welcome {
  text-align: center;
  background: #ffc3c3;
  padding: 60px 0; }

.welcome-arrow {
  margin: 20px 0 !important; }

.detail-right {
  padding: 40px 0; }

.detail-left {
  text-align: center; }

.detail-icon {
  font-size: 50px !important;
  padding: 75px !important;
  color: #FF9800 !important; }

.fa-mobile {
  font-size: 68px !important; }

.detail-title {
  color: #ff3d3d; }

.final-submit {
  text-align: center;
  height: 70vh;
  margin-top: 30vh; }

.answer-status-none {
  display: none; }

.answer-status {
  color: #ff3d3d; }

.answer-status-icon {
  color: #ff3d3d !important; }

.button-container {
  text-align: center; }

.question-inner {
  height: 95vh;
  padding-top: 5vh; }
  .question-inner h2 {
    text-align: center; }

.questionItem-question {
  padding-bottom: 15px; }

.questionItem.isInActive {
  opacity: 0.4; }

.no-button {
  display: none; }

.free-text {
  width: 100%;
  border-style: groove;
  height: 30px;
  border-radius: 5px; }

.response-answer {
  font-family: "Palanquin Dark", sans-serif; }

.response-icon {
  color: #FF9800 !important; }

.response-inner {
  padding: 0 10px; }

.results-title {
  text-align: center;
  padding: 30px 0; }

.user-response {
  background: lightblue; }

.result-name {
  color: #ff3d3d;
  letter-spacing: 2px;
  background: #fce7c7;
  border-radius: 3px;
  padding: 5px 10px; }

.results-image img {
  max-width: 150px; }

.results-image {
  text-align: center; }

.result {
  background: #fff9ee; }

.results-text {
  text-align: center;
  padding-bottom: 10px; }

.sidenav-component {
  background: #ff3d3d;
  height: 80vh;
  margin-top: 5vh;
  position: fixed;
  width: 24px;
  border-radius: 15px; }
  .sidenav-component p {
    margin: 11vh 0;
    text-align: center; }

.navItem p {
  color: black; }
  .navItem p:hover {
    cursor: pointer; }

.navItem.isActive {
  background: #FF9800; }

.sidenav-submit.isActive {
  background: #FF9800; }

.sidenav-submit {
  cursor: pointer; }

#user-form input {
  margin-bottom: 15px !important; }

.signup {
  border-radius: 6px;
  margin-top: 40px; }

.text-help {
  color: #ff3d3d !important;
  margin-bottom: 10px; }

.thankyou-component {
  text-align: center; }

.thankyou-inner {
  padding: 50px 0; }

.thankyou-title {
  margin-bottom: 30px; }

.navbar-default {
  background-color: #fff9ee !important;
  margin-bottom: 0px !important; }

.navbar-right li a {
  color: #FF9800 !important; }
  .navbar-right li a:hover {
    color: #ff3d3d !important; }

html {
  font-size: 62.5%; }

body {
  font-size: 1.4rem;
  /* =14px */
  font-family: "Palanquin", sans-serif !important; }

h1, h2, h3 {
  font-size: 2.4rem;
  /* =24px */
  font-family: "Palanquin Dark", sans-serif !important; }

.btn-primary {
  background: #FF9800 !important;
  border-color: #e98b00 !important;
  margin-right: 5px !important; }
  .btn-primary:hover {
    background: #e98b00 !important; }
