<!DOCTYPE html>
<html>
  <head>
    <title>Clark Survey</title>
    <%= csrf_meta_tags %>
    <link rel="stylesheet" type="text/css" href="stylesheets/application.css">
  </head>

  <body>
    <div id="mount"></div>
    <%= javascript_include_tag fingerprinted_asset('application') %>
  </body>
</html>
